<footer id="global-footer">
  <nav id="footer-nav" role="navigation">
    <div class="clearfix"></div>
    <span class="poweredby"> © {{date published_at format="YYYY"}}. All rights reserved. Built with <a href="https://github.com/Kikobeats/bloggy" target="_blank">Bloggy</a> under <a href="https://ghost.org/" target="_blank">Ghost</a>.</span>
    <ul id="social-menu">
      <li class="twitter"><a href="https://twitter.com/zombeats_es"><span class="hidden">Twitter</span></a></li>
      <li class="facebook"><a href="https://www.facebook.com/zombts"><span class="hidden">Facebook</span></a></li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</footer>
