<nav class="pagination" role="navigation">
  {{#if prev}}
    <a class="newer-posts" href="{{page_url prev}}">&larr; Publicaciones Recientes</a>
  {{/if}}
  <span class="page-number">Página {{page}} de {{pages}}</span>
  {{#if next}}
    <a class="older-posts" href="{{page_url next}}">Publicaciones Anteriores &rarr;</a>
  {{/if}}
</nav>
