{{! If post is featured and has an image, make a big hero banner }}

{{#if feature_image}}
  {{#if featured}}
    <div class="hero">
      <div class="hero-image" style="background-image: url({{img_url feature_image}});"></div>
    </div>
  {{/if}}
{{/if}}
