{{! TODO: Extract facebook page slug as Ghost variable }}

<section class="facebook-box widget">
  <div class="fb-page" data-href="https://www.facebook.com/zombts/" data-width="299.375" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/zombts/"><a href="https://www.facebook.com/zombts/">Zombeats</a></blockquote></div></div>
</section>
