<section class="facebook-box widget">
    <div class="fb-like-box" data-href="https://www.facebook.com/cwmarmenor" data-width="290" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
</section>
