<section class="fbgroup-box widget">
  <div class="fbgroup-box-profilepic">
    <img src="{{asset "images/logo-black.png"}}" alt="Twitter profile picture" />
  </div>
  <img class="fbgroup-box-coverpic" src="{{asset "images/fbgroupbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
  <div class="fbgroup-box-content">
    <h4>Únete a la comunidad</h4>
    <p>Forma parte de la más vibrante comunidad de beatbox de habla hispana.</p>
    <a class="button-add large wide" target="blank" href="https://www.facebook.com/groups/zombeats/">Unirme</a>
  </div>
</section>
