<section class="popular-posts widget">
  <h3>Próximo Evento</h3>
  <a href="/la-primera-batalla-del-2016-beat-winter-tag-team-battle-2016">
    <img src="http://res.cloudinary.com/zombeatsblog/image/upload/v1451838058/y4qd78ggphjenumqb79x.jpg" style="width: 60%;">
  </a>
</section>
