<section class="feature-post widget">
  <h3>Próximo Evento</h3>
  <a href="/vuelve-la-mayor-convencion-nacional-beatbox-open-meeting-2016-madrid/">
    <img src="{{asset "images/event.jpg"}}" style="width: 60%;">
  </a>
</section>
