<section class="popular-posts widget">
  <h3>Próximo Evento</h3>
  <a href="volvemos_a_tope_con_la_murcia_urban_sup_2015/">
    <img src="http://3.bp.blogspot.com/-1YWpZDBcjag/VecxCz5U_eI/AAAAAAAADEA/EVPPJL0zhbw/s640/CartelMurciaUrbanSUP%2B2015%2BINFO.jpg" style="width: 60%;">
  </a>
</section>
