<section class="popular-posts widget">
    <h3>Lo <mark>Más</mark> Destacado</h3>
    {{!
        Yep this is static. Soz. You were probably hoping for something fancy.
    }}
    <ol>

        <li>
          <a href="/sobrevivir_a_una_defi_epica_by_mn_1_2">
            <span class="number" aria-hidden="true">1</span>Cómo Sobrevivir A Una DEFI Épica
          </a>
        </li>

        <li>
          <a href="/el_cwmm_2_0_estrena_directiva">
            <span class="number" aria-hidden="true">2</span>CWMarMenor Estrena Directiva
          </a>
        </li>

        <li>
          <a href="http://blog.ghost.org/writing-tools/">
            <span class="number" aria-hidden="true">3</span>13 Writing Tools To Enhance The Quality of Your Blog
          </a>
        </li>

        <li>
          <a href="http://blog.ghost.org/markdown/">
            <span class="number" aria-hidden="true">4</span>How to Write Faster, Better &amp; Longer: The Ultimate Guide to Markdown
          </a>
        </li>

        <li>
          <a href="http://blog.ghost.org/distributed-team-tools/">
            <span class="number" aria-hidden="true">5</span>11 Tools That Allow us to Work from Anywhere on Earth as a Distributed Company
          </a>
        </li>

    </ol>
</section>
