<a class="ghost-love widget" href="https://ghost.org">
    <h3>Want a blog like this? <span class="highlight">Try Ghost</span></h3>
    <h4>The internet's most simple, most focused publishing platform</h4>
    <div class="ghost-love-button">Test it out in seconds</div>
</a>
