<section class="blog-text blog-text-dev widget">
    <p>All the things:</p>
    <ul>
        <li><a href="https://github.com/TryGhost/Ghost/blob/master/CONTRIBUTING.md">Contributing Guide</a></li>
        <li><a href="https://trello.com/b/EceUgtCL/ghost-roadmap">Official Roadmap</a></li>
        <li><a href="https://ghost.org/slack/">Slack developer chat</a></li>
        <li>Meetings: Tuesdays, 17:30 UTC</li>
    </ul>
</section>
