<section class="popular-posts widget">
  <h3>Lo
    <mark>Más</mark> Destacado</h3>
  <ol>

    <li>
      <a href="/hola-2016-anunciamos-zombeats-blog-y-mas-sorpresas">
        <span class="number" aria-hidden="true">1</span>Hola 2016: Anunciamos Zombeats Blog y más sorpresas
      </a>
    </li>

    <li>
      <a href="/la-primera-batalla-del-2016-beat-winter-tag-team-battle-2016">
        <span class="number" aria-hidden="true">2</span>La primera batalla del año: Beat-Winter Tag Team Battle 2016
      </a>
    </li>

    <li>
      <a href="/beatbox-battle-copa-primavera-sebastian-de-los-reyes-madrid">
        <span class="number" aria-hidden="true">3</span>Beatbox Battle 'Copa Primavera' el 8 de junio, San Sebastián de los Reyes (Madrid)
      </a>
    </li>

    <li>
      <a href="/i-campeonato-oficial-de-beatbox-de-la-c-valenciana-kdr-urban-fest-2013">
        <span class="number" aria-hidden="true">4</span>I Campeonato Oficial de Beatbox de la C.Valenciana – KDR URBAN FEST 2013
      </a>
    </li>

    <li>
      <a href="/toda-la-informacion-de-leioa-beatboxbattle">
        <span class="number" aria-hidden="true">5</span>Toda la información de 'Leioa Beatboxbattle'
      </a>
    </li>

  </ol>
</section>
