<section class="slack-box widget">
  <a class="twitter-box-profilepic" href="/unete"><img src="{{asset "images/slack.png"}}" alt="Twitter profile picture" /></a>
  <img class="twitter-box-coverpic" src="{{asset "images/slackbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
  <div class="slack-box-content">
    <h4>Únete a la comunidad</h4>
    <p>Forma parte de la más vibrante comunidad alrededor del Mar Menor.</p>
    <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Unirme</a>
  </div>
</section>
