<section class="blog-subscribe blog-subscribe-main widget">
    <h3>Join Thousands</h3>
    <p>of subscribers who get fresh content from us once per week.</p>
    <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Subscribe Now</a>
</section>
