<section class="twitter-box twitter-box-main widget">
    <a class="twitter-box-profilepic" href="http://twitter.com/CWMarMenor"><img src="{{asset "images/logo.png"}}" alt="Twitter profile picture" /></a>
    <img class="twitter-box-coverpic" src="{{asset "images/twitterbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
    <div class="twitter-box-content">
        <h4>CWMarMenor</h4>
        <p>A non-profit, open source blogging platform. A movement to revolutionise the world of online publishing.</p>
        <a href="https://twitter.com/CWMarMenor" class="twitter-follow-button" data-show-count="true">Seguir @CWMarMenor</a>
    </div>
</section>
