/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Pagination
    7.  Footer
    8.  Media Queries (Tablet)
    9.  Media Queries (Mobile)
    10. Others

 */

/* ==========================================================================
   Global Content
   ========================================================================== */

::selection {
  color: $selection-color;
  background: #b3d5f3;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.2em 0 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.2em;
  text-indent: -3px;
  letter-spacing: -2px;

  @include breakpoint(500px) {
    font-size: 2.8rem;
  }
}

h2 {
  padding-top: 0;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2em;
  text-indent: -2px;
  letter-spacing: -1px;
  border: 0;

  @include breakpoint(500px) {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 2.5rem;

  @include breakpoint(500px) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2.2rem;

  @include breakpoint(500px) {
    font-size: 2rem;
  }
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  color: $darkgrey;

  &:hover {
    text-decoration: none;
    color: $link-hover-color;
    box-shadow: none;
  }
}

.wrap {
  position: relative;
}

.vertical {
  position: relative;
  top: -2%;
  display: table-cell;
  vertical-align: middle;
}

/* ==========================================================================
   Global Layout
   ========================================================================== */

.page-wrapper {
  padding: 50px 60px;
  overflow: hidden;
}

.blog-header {
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  padding: 0 60px;
  margin: -50px -60px 50px;
  text-align: center;
  color: $white;
  background: $header-color no-repeat center center;
  background-size: cover;

  h1 {
    background-color: $blog-description-color;
  }

  @include breakpoint(400px) {
    width: 100%;
    height: 200px;
    padding: 0 15px;
    margin: -15px -15px 15px;
  }

  @include breakpoint(650px) {
    width: 114%;
    height: 250px;
    padding: 0 11%;
    margin: -11% 0 11% -18%;
  }

  @include breakpoint(850px) {
    width: 114%;
    padding: 0 11%;
    margin: -11% 0 11% -18%;
  }

  @include breakpoint(1100px) {
    padding: 0 40px;
    margin: -30px -40px 30px;
  }

  h1 {
    max-width: 640px;
    margin: 0 auto;
    font-size: 2.8rem;
    font-weight: 200;
    letter-spacing: 0;
    color: $white;
    display: inline-block;
    padding: .5rem 2rem;

    @include breakpoint(500px) {
      font-size: 1.8rem;
    }

    @include breakpoint(650px) {
      font-size: 2.2rem;
    }

    @include breakpoint(850px) {
      margin: 96px 96px 96px 56px;
      font-size: 2.6rem;
    }
  }
}

// Hide header on paginated pages
.archive-template .blog-header {
  display: none;
}

.blog-content {
  float: left;
  font-size: 1.6rem;
  width: 63.26531%;

  @include breakpoint(500px) {
    font-size: 1.5rem;
  }

  &.fullscreen {
    width: 100%;
  }
}

.blog-sidebar {
  float: right;
  width: 30.61224%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p {
    margin: 0 0 15px 0;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.3em;
  }
}

.widget {
  padding: 25px 30px 30px;
  margin-bottom: 50px;
}

@include breakpoint(1100px) {
  .page-wrapper {
    padding: 30px 40px;
  }
}

@include breakpoint(1000px) {
  .blog-content,
  .blog-sidebar {
    float: none;
    width: 100%;
  }
}

@include breakpoint(850px) {
  .page-wrapper {
    padding: 8% 11%;
  }

  .blog-content {
    margin-right: 0;
  }

  .blog-sidebar {
    position: static;
    width: 100%;
    margin-top: 30px;
  }
}

@include breakpoint(650px) {
  .page-wrapper {
    padding: 6% 9%;
  }
}

@include breakpoint(400px) {
  .page-wrapper {
    padding: 15px;
  }
}

.post {
  margin-bottom: 40px;
  border-bottom: darken($lightgrey, 5%) 1px dashed;

  @include breakpoint(500px) {
    margin-bottom: 25px;
  }
}

.post-title {
  margin: 0;
}

.post-title a {
  text-decoration: none;
}

.post-excerpt p {
  margin: 2.6rem 0;

  @include breakpoint(500px) {
    margin: 2rem 0;
  }
}

.post-meta {
  margin: 5px 0;
  font-size: 1.4rem;
  color: #9eabb3;

  .author-img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 9px;

    @include breakpoint(500px) {
      display: none;
    }
  }
}

.author-img {
  border-radius: 100%;
}

.post-meta a {
  text-decoration: none;
  color: #9eabb3;
}

.post-meta a:hover {
  text-decoration: underline;
}

.more-links {
  margin: 2em 0;

  @include breakpoint(500px) {
    margin: 1.6em 0;

    .right {
      display: none;
    }
  }
}

.read-more {
  min-height: 0;
  padding: .3em .5em;
  font-size: 10px;
  line-height: 12px;
  vertical-align: top;

  @include breakpoint(500px) {
    padding: 1em;
  }
}

/* ==========================================================================
   Single Post
   ========================================================================== */

.post-template {
  .post {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.post-content {
  margin-bottom: 3.2em;
}

.post-content img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 2.2em auto;

  @include breakpoint(500px) {
    margin: 1.6em auto;
  }
}

.post-content .full-img {
  width: calc(100% + 60px);
  max-width: none;
  margin-left: -60px;

  @include breakpoint(400px) {
    width: 100%;
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
  }

  @include breakpoint(650px) {
    width: 122%;
    margin-right: -11%;
    margin-left: -11%;
  }

  @include breakpoint(850px) {
    width: 130%;
    margin-right: -15%;
    margin-left: -15%;
  }

  @include breakpoint(1100px) {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

.share {
  margin: 1.6em 0;

  @include breakpoint(750px) {
    display: none;
  }
}

.twitter-share-button {
  margin-right: 30px;
}

.fb-like {
  line-height: 1.2rem;
}

.post-template .fb-like {
  margin-right: 30px;
}

.pocket-btn {
  display: inline-block;
  margin-right: -10px;
  vertical-align: top;
}

[class^="PIN_"] {
  @include transition(none);
}

.author {
  position: relative;
  padding: 30px;
  margin: 1.6em 0;
  border: $lightgrey 2px dashed;
  background: lighten($lightgrey, 5%);

  .author-img {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80px;
    height: 80px;
    border: $white 5px solid;
  }
}

.author-meta {
  margin-left: 120px;

  h4 {
    margin-top: .25rem;
  }

  p {
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
  }
}

@include breakpoint(550px) {
  .author {
    padding: 20px;
    text-align: center;
  }

  .author .author-img {
    position: static;
  }

  .author-meta {
    margin-left: 0;
  }

  .author-meta p {
    font-size: 1.3rem;
  }
}

.footnotes {
  font-size: 1.3rem;
  font-style: italic;

  li {
    margin: .6rem 0;
  }

  p {
    margin: 0;
  }
}

.comments {
  margin-top: 3.2em;
}

/* ==========================================================================
   Pagination - Tools to let you flick between pages
   ========================================================================== */

/* The main wrapper for our pagination links */

.pagination {
  position: relative;
  margin: 40px auto 20px;
  font-size: 1.3rem;
  text-align: center;
  color: #9eabb3;
}

.pagination a {
  color: #9eabb3;

  &:hover {
    text-decoration: none;
  }
}

/* Push the previous/next links out to the left/right */

.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 5px 15px;
  transition: border ease .3s;
  text-decoration: none;
  border: #ebf2f6 2px solid;
  border-radius: 30px;

  @include breakpoint(500px) {
    position: static;
    margin: 10px 0;
  }
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 5px 0;

  @include breakpoint(500px) {
    display: block;
  }
}

.newer-posts {
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  border-color: #9eabb3;
}

//misc hack - no idea why this is needed, but it is
@media (min-width: 768px) {
  .navbar-collapse.closed {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

/* ==========================================================================
   7. Read More - Next/Prev Post Links
   ========================================================================== */

.read-next {
  display: flex;
  margin: 4rem 0;
  overflow: hidden;
  border-radius: 5px;
  align-items: stretch;
}

.read-next-story {
  position: relative;
  display: flex;
  min-width: 50%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: $white;
  background: #222 no-repeat center center;
  background-size: cover;
  flex-grow: 1;
}

.read-next-story:hover {
  text-decoration: none;
}

.read-next-story:hover:before {
  transition: all .2s ease;
  background: rgba(0, 0, 0, .8);
}

.read-next-story:hover .post:before {
  transition: all .2s ease;
  color: #222;
  background: $white;
}

.read-next-story:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  transition: all .5s ease;
  background: rgba(0, 0, 0, .7);
}

.read-next-story .post {
  position: relative;
  width: 80%;
  padding: 3rem 0;
  margin: 0 auto;
}

.read-next-story .post:before {
  padding: 4px 10px 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  content: "Siguiente Publicación";
  transition: all .5s ease;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .8);
  border: rgba(255, 255, 255, .5) 1px solid;
  border-radius: 4px;
}

.read-next-story.prev .post:before {
  content: "Tal vez te interese";
}

.read-next-story h2 {
  margin-top: 3rem;
  color: $white;
}

.read-next-story p {
  margin: 3rem 0 0 0;
  font-weight: 200;
  line-height: 1.4em;
  color: rgba(255, 255, 255, .8);
}

/* Special styles for posts with no cover images */

.read-next-story.no-cover {
  background: $white;
}

.read-next-story.no-cover:before {
  display: none;
}

.read-next-story.no-cover .post:before {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .2);
}

.read-next-story.no-cover:hover .post:before {
  color: $blue;
  border-color: $blue;
}

.read-next-story.no-cover h2 {
  color: rgba(0, 0, 0, .8);
}

.read-next-story.no-cover p {
  color: rgba(0, 0, 0, .5);
}

/* if there are two posts without covers, put a border between them */

.read-next-story.no-cover + .read-next-story.no-cover {
  border-left: rgba(0, 0, 100, .04) 1px solid;
}

/* ==========================================================================
   Prism
   ========================================================================== */

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  line-height: 1.5;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  direction: ltr;
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.wrap article aside {
  display: none;
}

.wrap.featured {
  .blog-content {
    width: 100%;
  }

  .blog-sidebar {
    display: none;
  }

  article {
    max-width: 700px;
    margin: 0 auto 0;
    font-size: 1.15em;
  }

  .post-title {
    margin-top: 480px;

    @media (max-width: 900px) {
      margin-top: 280px;
    }

    @media (max-width: 500px) {
      margin-top: 140px;
    }
  }

  aside {
    display: block;
    float: right;
    width: 300px;
    color: #111;
    border-top: 3px solid #55acee;
    margin-top: 5px;
    margin-right: -150px;
    margin-left: 30px;
    padding: 20px 30px 25px;
    font-size: 15px;
    line-height: 1.8em;

    @media (max-width: 1020px) {
      display: none;
    }
  }

  .post-content .full-img {
    width: calc(100% + 120px);
    max-width: none;
    margin-left: -60px;
    margin-right: -60px;

    @include breakpoint(1100px) {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

/* Hero */

.hero {
  position: absolute;
  top: -50px;
  right: -60px;
  left: -60px;
  overflow: hidden;

  @media (max-width: 850px) {
    top: -40px;
    right: -11%;
    left: -11%;
  }
}

.hero-image {
  height: 500px;
  background: #eee no-repeat center center;
  background-size: cover;
}

@media (max-width: 900px) {
  .hero-image {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .hero-image {
    height: 200px;
  }
}

/* ==========================================================================
 Custom
========================================================================== */

.tags {
  vertical-align: text-bottom;

  > a {
    padding: 0.167rem 0.5rem;
    font-size: .55rem;
    transition: all 350ms;
    text-transform: uppercase;
    color: #f8f8f8;
    border-radius: 0.7rem;
    background-color: $tag-color;
  }
}

#global-footer .poweredby a {
  text-decoration: underline;
}

.global-header {
  min-height: 30px;
}

li.nav-unete > a {
  @include feature-header-button($feature-one-color);
}

li.nav-contacto > a {
  @include feature-header-button($feature-two-color);
  margin-left: 15px;

  @include breakpoint(max-width 660px, max-width 660px) {
    margin: 15px 0 !important;
  }
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.button-green,
.button-add,
.button-add[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 2px solid $feature-one-color;
  color: $feature-one-color;
}

.button-green:not(.button-loading):hover,
.button-green:not(.button-loading):focus,
.button-add:not(.button-loading):hover,
.ghost-pro-ad:hover .button-add:not(.button-loading),
.button-add:not(.button-loading):focus,
.button-add[type="submit"]:not(.button-loading):hover,
.ghost-pro-ad:hover [type="submit"].button-add:not(.button-loading),
.button-add[type="submit"]:not(.button-loading):focus {
  background: $feature-one-color;
  color: white;
}

.button-save,
.button-blue,
button[type="submit"],
input[type="submit"] {
  background: $feature-two-color;
  box-shadow: none;
}

.button-save:not(.button-loading):hover,
.button-save:not(.button-loading):focus,
.button-blue:not(.button-loading):hover,
.button-blue:not(.button-loading):focus,
button[type="submit"]:not(.button-loading):hover,
button[type="submit"]:not(.button-loading):focus,
input[type="submit"]:not(.button-loading):hover,
input[type="submit"]:not(.button-loading):focus {
  background: darken($feature-two-color, 10%);
}
