@mixin feature-header-button($color) {
  height: 30px;
  padding: 6px 10px;
  margin: 15px 0 0;

  transition: all .5s ease;

  color: $color !important;
  border: 1.5px solid $color;
  border-radius: 2px;
  background: rgba(white, .8) !important;

  &:hover {
    color: rgba(white, .8) !important;
    background: $color !important;
  }
}
