@charset "UTF-8";

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

html {
  font-family: $sans-font;
      text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

strong {
  font-weight: $font-weight-bold;
}

mark {
  background: #ff0;
  color: #000;
}

img {
  border: 0;
}

button,
input {
  font-family: $input-font;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button {
  text-transform: none;
}

button {
  appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot?1");
  src: url("../fonts/icons.eot?1#iefix") format("embedded-opentype"),
       url("../fonts/icons.woff?1") format("woff"),
       url("../fonts/icons.ttf?1") format("truetype"),
       url("../fonts/icons.svg?1#icons") format("svg");
  font-weight: $font-weight-normal;
  font-style: normal;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.modal.fade .modal-dialog {
      transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
      transform: translate(0, -25%);
       transition: transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
       transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
      transform: translate(0, 0);
  -ms-transform: translate(0, 0);
      transform: translate(0, 0);
}

.modal-dialog {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.modal-body {
  position: relative;
  padding: 20px;
}

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 660px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html {
  font: 62.5%/1.65 $sans-font;
}

body {
  width: 100%;
  color: #3c4043;
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4 {
  color: #242628;
  font-weight: $font-weight-bold;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

@media (max-width: 800px), (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 4.5rem;
  padding-top: 0.8em;
  margin-top: 0.8em;
  border-top: #e2edf2 1px solid;
  margin-bottom: 0.45rem;
}

@media (max-width: 800px), (max-width: 800px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  h2 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 3.8rem;
  margin-bottom: 0.6rem;
}

@media (max-width: 800px), (max-width: 800px) {
  h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  h3 {
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 2.6rem;
  margin-bottom: 0.4rem;
}

@media (max-width: 800px), (max-width: 800px) {
  h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  h4 {
    font-size: 1.5rem;
  }
}

h2 a:hover {
  text-decoration: none;
  box-shadow: #5ba4e5 0 -4px 0 inset;
}

p {
  margin: 1.6em 0;
}

ul,
ol {
  margin: 1.6em 0;
  padding-left: 2.4em;
}

@media (max-width: 600px), (max-width: 600px) {
  ul,
  ol {
    padding-left: 1.6em;
  }
}

li {
  margin: 1.2rem 0;
}

a {
  color: #5ba4e5;
  text-decoration: none;
       transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
  -moz-transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
       transition: color 0.3s ease, text-decoration 0.3s ease, background 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

mark {
  background-color: #fdffb6;
  padding: 0 0.1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: #e2edf2 1px solid;
}

nav li {
  margin: 0;
  font-size: 1.3rem;
}

nav li a {
  display: block;
  padding: 10px 15px;
  color: #7d878a;
  border-bottom: #e2edf2 1px solid;
}

nav li a:hover {
  color: #242628;
  background: rgba(0, 0, 0, 0.04);
  text-decoration: none;
}

nav li a:before {
  margin-right: 1em;
}

.blog-logo {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 800;
  float: left;
  font-size: 10px;
  text-decoration: none;
  height: 30px;
  width: 30px;
  text-align: center;
       transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
       transition: all 0.15s ease;
  border-radius: 2px;

  > img {
    vertical-align: -7%;
    text-transform: none;
    speak: none;
    line-height: 1;
    position: absolute;
    top: 4px;
    left: 4px;
    max-width: 22px;
  }

  > span {
    color: rgba(60, 80, 90, 0.7);
    margin-left: 40px;
    font-size: 16px;
    font-weight: $font-weight-bold;
  }
}

.global-header {
  position: relative;
  min-height: 80px;
}

.nav-current {
  font-weight: $font-weight-bold;
}

@media (max-width: 800px), (max-width: 800px) {
  .global-header {
    min-height: 44px;
  }
}

.global-header .blog-logo {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 15px;
       transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
       transition: all 0.3s ease;
}

@media (max-width: 800px), (max-width: 800px) {
  .global-header .blog-logo {
    top: 7px;
    left: 7px;
  }
}

@media (max-width: 660px), (max-width: 660px) {
  .global-header .blog-logo {
    width: 81px;
    background: transparent;
    left: 7px;
         transition: all 0.25s ease, left 0.5s ease;
    -moz-transition: all 0.25s ease, left 0.5s ease;
         transition: all 0.25s ease, left 0.5s ease;
    border-radius: 0;
  }

  .blog-logo>span {
    color: rgba(60,80,90,.7);
    margin-left: 40px;
    font-size: 16px;
  }

  .global-header .blog-logo:after {
    color: #242628;
    opacity: 1;
  }
}

.global-header nav {
  background: #fff;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  z-index: 700;
}

@media (max-width: 1130px), (max-width: 1130px) {
  .global-header nav {
    padding: 0;
  }
}

@media (max-width: 800px), (max-width: 800px) {
  .global-header nav {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px, rgba(255, 255, 255, 0.5) 0 -1px 0 inset;
         transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
         transition: all 0.15s ease-out 0;
    background: gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(25%, #fff), color-stop(100%, rgba(255, 255, 255, 0.93)));
    background: linear-gradient(top, #fff 0%, #fff 25%, rgba(255, 255, 255, 0.93) 100%);
    background: linear, to bottom, #fff 0%, #fff 25%, rgba(255, 255, 255, 0.93) 100%;
  }

  .global-header nav::before {
    content: "";
    height: 44px;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35%;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 0;
  }

  .global-header nav::after {
    content: "";
    height: 44px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15%;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 0;
  }
}

.global-header .wrapper {
  padding: 0 17px;
  min-height: 60px;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 800px), (max-width: 800px) {
  .global-header .wrapper {
    min-height: 44px;
    padding: 0 7px;
  }
}

.global-header ul {
  float: right;
  border-top: none;
  position: relative;
  z-index: 250;
}

.global-header li {
  float: left;
  position: relative;
  font-size: 1.1rem;
}

.global-header li a {
  display: block;
  height: 60px;
  padding: 21px 20px;
  border-bottom: none;
  color: #242628;
  text-transform: uppercase;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

@media (max-width: 800px), (max-width: 800px) {
  .global-header li a {
    height: 44px;
    padding: 13px 15px;
  }
}

.global-header li a:hover {
  color: #5ba4e5;
  text-decoration: none;
  background: none;
}

.global-header .mobile-menu {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 500;
  padding: 0;
  color: #fff;
  text-align: center;
  background: #242628;
  border-radius: 2px;
  display: none;
}

.global-header .mobile-menu:before {
  font-family: "Icons";
  font-weight: $font-weight-normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e01c";
  font-size: 14px;
  margin-left: 1px;
  vertical-align: -10%;
}

.global-header .mobile-menu:hover {
  text-decoration: none;
}

@media (max-width: 660px), (max-width: 660px) {
  .global-header .mobile-menu {
    display: block;
  }
}

.global-header .navbar-collapse {
  position: relative;
  z-index: 400;
  clear: both;
  padding: 0;
}

@media (max-width: 660px), (max-width: 660px) {
  .global-header .navbar-collapse {
    float: none;
    padding: 0;
  }

  .global-header .navbar-collapse li {
    float: none;
  }

  .global-header .navbar-collapse li a {
    padding: 13px 10px;
  }

  .global-header .navbar-collapse li:first-child {
    margin-top: 43px;
  }
}

#global-footer {
  padding: 20px;
  font-size: 1.1rem;
  background: #fff;
}

@media (max-width: 600px), (max-width: 600px) {
  #global-footer {
    padding: 0 15px;
  }
}

#global-footer .poweredby {
  float: left;
  padding: 12px 0;
  text-transform: none;
  font-weight: $font-weight-normal;
  color: #7d878a;
}

@media (max-width: 600px), (max-width: 600px) {
  #global-footer .poweredby {
    display: block;
    width: 100%;
    text-align: center;
  }
}

#global-footer .poweredby a {
  font-weight: $font-weight-normal;
  color: #7d878a;
  text-decoration: none;
}

#global-footer .poweredby a:hover {
  color: #5ba4e5;
}

#global-footer .facebook a:before {
  font-family: "Icons";
  font-weight: $font-weight-normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e010";
}

#global-footer .facebook a:hover {
  text-decoration: none;
}

#global-footer .twitter a:before {
  font-family: "Icons";
  font-weight: $font-weight-normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e00f";
}

#global-footer .twitter a:hover {
  text-decoration: none;
}

#footer-nav {
  max-width: 1100px;
  margin: 0 auto 80px auto;
  border-bottom: #e2edf2 1px solid;
  position: relative;
  text-transform: uppercase;
}

@media (max-width: 800px), (max-width: 800px) {
  #footer-nav {
    margin: 100px auto 50px auto;
  }
}

@media (max-width: 600px), (max-width: 600px) {
  #footer-nav {
    margin: 0 auto;
    border: none;
  }
}

#footer-nav ul {
  float: right;
  border-top: none;
}

#footer-nav li {
  float: left;
  font-size: 1em;
}

#footer-nav li a {
  border: none;
}

#footer-nav li:last-child a {
  padding-right: 0;
}

#footer-nav li:hover a {
  text-decoration: none;
  background: inherit;
}

#social-menu {
  font-size: 1.5em;
}

#social-menu li a {
  padding: 10px;
}

#social-menu li a:before {
  margin-right: 0;
}

#social-menu li:first-child a {
  padding-left: 0;
}

@media (max-width: 600px), (max-width: 600px) {
  #social-menu {
    float: none !important;
    font-size: 2.4rem;
    text-align: center;
  }

  #social-menu li {
    display: inline-block;
    float: none;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  .modal-dialog {
    padding: 0;
  }
}

.modal-close {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  color: #b3b9ba;
}

.modal-close:before {
  font-family: "Icons";
  font-weight: $font-weight-normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e020";
  font-size: 18px;
}

.modal-close:hover {
  text-decoration: none;
}

.modal-close:hover {
  color: #7d878a;
}

@media (max-width: 800px), (max-width: 800px) {
  .modal-close {
    top: 18px;
  }
}

.modal-content {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 8px rgba(0, 0, 0, 0.2) solid;
  box-shadow: none;
  box-shadow: none;
}

.wrapper {
  position: relative;
}

form {
  margin: 3.2em 0;
}

form input {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 260px;
  padding: 5px;
  margin: 0 0 5px 0;
  outline: 0;
  font-size: 1.6rem;
  line-height: 1.4em;
  background: #fff;
  border: #d0e2ea 1px solid;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
       transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
       transition: all 0.15s ease-out 0;
}

@media (max-width: 500px), (max-width: 500px) {
  form input {
    width: 100%;
  }
}

form input[type="email"]:focus {
  border: #aaa9a2 1px solid;
  background: #fff;
  outline: none;
  outline-width: 0;
       transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
       transition: all 0.15s ease-out 0;
}

.button,
button,
.button-save,
button[type="submit"],
.button-add,
.button-add[type="submit"] {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.9em 1.37em;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  font-weight: $font-weight-thin;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.3rem;
  border: rgba(0, 0, 0, 0.05) 0.1em solid;
       transition: background 0.3s ease, border-color 0.3s ease, width 1s ease;
  -moz-transition: background 0.3s ease, border-color 0.3s ease, width 1s ease;
       transition: background 0.3s ease, border-color 0.3s ease, width 1s ease;
}

.button:not(.button-loading):hover,
button:not(.button-loading):hover,
.button-save:not(.button-loading):hover,
.button-add:not(.button-loading):hover {
  border-color: transparent;
  background: #f8f8f8;
  text-decoration: none;
}

.large.button-add {
  padding: 1em 1.8em;
  font-size: 14px;
  line-height: 16px;
  border-radius: 0.5rem;
}

button.wide,
.wide.button-add {
  width: 100%;
}

@media (max-width: 500px), (max-width: 500px) {
  .button,
  button,
  .button-save,
  button[type="submit"],
  .button-add,
  .button-add[type="submit"] {
    width: 100%;
  }
}

.button,
button {
  color: #777;
  font-weight: $font-weight-normal;
  background: #eee;
  box-shadow: none;
}

.button:not(.button-loading):hover,
.button:not(.button-loading):focus,
button:not(.button-loading):hover,
button:not(.button-loading):focus {
  border-color: rgba(0, 0, 0, 0.1);
}

.button-save,
button[type="submit"] {
  background: #5ba4e5;
  box-shadow: none;
}

.button-save:not(.button-loading):hover,
.button-save:not(.button-loading):focus,
button[type="submit"]:not(.button-loading):hover,
button[type="submit"]:not(.button-loading):focus {
  background: #2f8cde;
}

.button-add,
.button-add[type="submit"] {
  background: #9fbb58;
}

.button-add:not(.button-loading):hover,
.button-add:not(.button-loading):focus,
.button-add[type="submit"]:not(.button-loading):hover,
.button-add[type="submit"]:not(.button-loading):focus {
  background: #8ba644;
}

main {
  padding: 0 15px;
}

@media (max-width: 400px), (max-width: 400px) {
  main {
    padding: 0;
  }
}

.page-wrapper {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  max-width: 1100px;
  margin: 50px auto 50px auto;
  background: #fff;
  border: #e2edf2 1px solid;
  border-radius: 2px;
}

@media (max-width: 1130px), (max-width: 1130px) {
  .page-wrapper {
    margin: 1px auto;
  }
}

@media (max-width: 800px), (max-width: 800px) {
  .page-wrapper {
    margin: 16px auto;
  }
}

@media (max-width: 400px), (max-width: 400px) {
  .page-wrapper {
    margin: 1px auto;
    border: none;
  }
}

.checkout-choose-plan label input[type='radio']:not(:checked)+.radio-indicator:before,
.checkout-choose-plan form .label input[type='radio']:not(:checked)+.radio-indicator:before,
form .checkout-choose-plan .label input[type='radio']:not(:checked)+.radio-indicator:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #DBDBDB;
  border-radius: 16px;
}

@media (max-width: 909px) {
  .checkout-choose-plan label input[type='radio']:not(:checked)+.radio-indicator:before,
  .checkout-choose-plan form .label input[type='radio']:not(:checked)+.radio-indicator:before,
  form .checkout-choose-plan .label input[type='radio']:not(:checked)+.radio-indicator:before {
    top: 4px;
  }
}

.checkout-choose-plan label input[type='radio']:not(:checked)+.radio-indicator+p+.saving,
.checkout-choose-plan form .label input[type='radio']:not(:checked)+.radio-indicator+p+.saving,
form .checkout-choose-plan .label input[type='radio']:not(:checked)+.radio-indicator+p+.saving {
  background: #F2F2F2;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.checkout-form .card-details .card-number input::-moz-placeholder {
  font-size: 1.8rem;
  color: #A9A9A9;
}
