::selection {
 background: lighten($orange, 36%);
}
::-moz-selection {
 background: lighten($orange, 36%);
}

.button-green,
.button-add,
.button-add[type="submit"] {
  transition: all 0.5s ease;
  background: white;
  border: 4px solid $green;
  color: $green;
}

.button-green:not(.button-loading):hover,
.button-green:not(.button-loading):focus,
.button-add:not(.button-loading):hover,
.ghost-pro-ad:hover .button-add:not(.button-loading),
.button-add:not(.button-loading):focus,
.button-add[type="submit"]:not(.button-loading):hover,
.ghost-pro-ad:hover [type="submit"].button-add:not(.button-loading),
.button-add[type="submit"]:not(.button-loading):focus {
  background: $green;
  color: white;
}

.modal-close {
  color: $red;
}

.button-save, .button-blue, button[type="submit"], input[type="submit"] {
  background: $blue;
  box-shadow: none;
}

.button-save:not(.button-loading):hover, .button-save:not(.button-loading):focus, .button-blue:not(.button-loading):hover, .button-blue:not(.button-loading):focus, button[type="submit"]:not(.button-loading):hover, button[type="submit"]:not(.button-loading):focus, input[type="submit"]:not(.button-loading):hover, input[type="submit"]:not(.button-loading):focus {
  background: darken($blue, 10%);
}

.blog-header h1 {
  background-color: rgba(#8BC34A, .7);
}
