$blog-description-color   : rgba(#8BC34A, .7);

$subscribe-banner-color   : $green;
$selection-color          : lighten($orange, 36%);
$tag-color                : rgba($orange, .7);

$feature-one-color        : $green;
$feature-two-color        : $blue;

$link-hover-color         : $blue;

$header-color             : #303538;
