
$subscribe-banner-color   : $green;
$selection-color          : lighten($orange, 36%);
$tag-color                : rgba($orange, .7);

$feature-one-color        : $green;
$feature-two-color        : $blue;

$link-hover-color         : $blue;

$blog-logo-color         : rgba(220, 240, 240, 0.7);

$header-color             : #303538;

/* widgets */
/** advertising **/
