$blog-description-color   : rgba(#8BC34A, .7);

$subscribe-banner-color   : $red;
$selection-color          : lighten($blue, 36%);
$tag-color                : rgba($blue, .7);

$feature-one-color        : $blue;
$feature-two-color        : $blue-light;

$link-hover-color         : $blue;

$header-color             : #303538;
