// Bourbon - http://bourbon.io/
@import "assets/vendor/bourbon/app/assets/stylesheets/bourbon";
$rounded                     : 2px;
$shadow                      : rgba(0, 0, 0, .5) 0 1px 5px;
$default-transition-duration : 0.3s;

// Breakpoint - http://breakpoint-sass.com/
@import "../vendor/compass-breakpoint/stylesheets/breakpoint";
@include breakpoint-set('default feature', max-width);

$sans-font                   : "Open Sans", sans-serif;
$serif-font                  : serif;
$code-font                   : Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$quote-font                  : "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
$input-font                  : inherit;

$font-weight-thin            : 200;
$font-weight-normal          : 400;
$font-weight-bold            : 900;

// Max widths
$netbook                     : 1000px;
$tablet                      : 800px;
$mobile                      : 400px;

// Min widths
$biggerthan-widescreen       : min-width 1500px, min-width 1500px;
$biggerthan-netbook          : min-width 1000px, min-width 1000px;
$biggerthan-tablet           : min-width 800px, min-width 800px;
$biggerthan-mobile           : min-width 401px, min-width 401px;

// Heights
$letterbox                   : max-height 600px, max-height 600px;

// Pixel Densities
$retina                      : min-resolution 1.5dppx;

// Colors
$darkgrey                    : #242628;
$grey                        : #35393b;
$midgrey                     : #7d878a;
$lightgrey                   : #e2edf2;
$brown                       : #aaa9a2;
$midbrown                    : #c0bfb6;
$lightbrown                  : #edece4;
$white                       : #fff;

$blue                        : #3498db;
$red                         : #e74c3c;
$orange                      : #e67e22;
$green                       : #2ecc71;
$yellow                      : #f1c40f;
