.fbgroup-box {
  @extend .twitter-box;
  @extend .twitter-box-dev;

  .fbgroup-box-profilepic {
    img {
      width: 70px;
      margin-top: 15px;
    }
  }
}

.fbgroup-box-content {
  @extend .twitter-box-content;

  > h4 {
    margin: 1rem;
  }

  > p {
    margin: 2rem 0;
  }

  > a {
    margin: 1rem 0;
  }

  .button-add {
    width: 60%;
  }

}

.fbgroup-box-profilepic {
  position: absolute;
  top: 100px;
  left: 50%;

  display: block;
  width: 100px;
  height: 100px;
  margin-left: -50px;

  text-align: center;

  border-radius: 100%;
  background: $white;

  img {
    width: 80%;
    height: auto;
    margin-top: 6px;
  }
}
