.feature-post,
.popular-posts {
  padding: 0;

  h3 {
    margin-bottom: 2rem;

    font-size: 1.8rem;
    font-weight: bold;

    text-transform: uppercase;
  }

  mark {
    padding: 0 4px;

    font-weight: normal;

    color: $white;
    background: $yellow;
  }

  ol {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  li {
    position: relative;

    display: block;
    margin: 0 0 2px 0;

    font-size: 1.4rem;
    line-height: 1.4em;

    background: lighten($lightgrey, 4%);

    &:hover {
      background: $lightgrey;
      .number {
        background: darken($lightgrey, 4%);
      }
    }

    &:nth-child(3n) .number {
      border-color: $grey;
    }
    &:nth-child(3n+2) .number {
      border-color: $red;
    }
  }

  a {
    display: block;
    min-height: 38px;
    padding: 15px 15px 15px 75px;

    color: rgba(0,0,0,.7);

    &:hover {
      text-decoration: none;
    }
  }

  .number {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;
    width: 37px;
    padding: 10px;

    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.5em;

    text-align: center;

    color: rgba(0,0,0,.2);
    border-left: $blue 3px solid;
    background: $lightgrey;
  }
}
